#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mitra"
name = "Mitra"
description.en = "Federated micro-blogging platform"
description.fr = "Plateforme de micro-blogging fédéré"

version = "4.18.0~ynh1"

maintainers = ["Papa Dragon"]

[upstream]
license = " AGPL-3.0-only"
code = "https://codeberg.org/silverpill/mitra"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "150M"
ram.build = "200M"
ram.runtime = "50M"

[install]
    [install.domain]
    help.en = "Your website can only be installed in a root domain or subdomain"
    help.fr = "Votre site web ne peut être installé que dans un domaine racine ou un sous-domaine"
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]
    [resources.sources.main]
    url = "https://codeberg.org/silverpill/mitra/archive/v4.18.0.tar.gz"
    sha256 = "1708b6ba111b0c653e0d4596de5bcd4edfc93b4474860e4e97e495bc273dcd3d"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.sources.mitra-web]
    url = "https://codeberg.org/silverpill/mitra-web/archive/v4.18.0.tar.gz"
    sha256 = "956e2a59474c33b19d2ffe13d26529b9885935062937b5fa5b858db424bd1ad5"
    autoupdate.upstream = "https://codeberg.org/silverpill/mitra-web"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
