[Unit]
Description=Mitra Server
After=postgresql.service
Requires=postgresql.service

[Service]
ExecStart=/usr/bin/mitra
WorkingDirectory=/var/lib/__APP__
User=__APP__
Group=__APP__

PrivateTmp=true
ProtectSystem=full
ProtectHome=false
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
